---

name: tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.14"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install --upgrade build pip
      - run: python -m build
      - run: python -m pip install dist/*.whl
      - run: python test.py
